<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
  <div class="center jumbotron">
    <h1>Help</h1>
    <p>
      Contact our support team for any queries.<br>
      <a href="mailto:prachurgupta10@gmail.com">Prachur Gupta</a><br>
      Phone: +91 8179893888
    </p>
  </div>
  </body>
</html>
