<%= link_to gravatar_for(route.rider, size: 50), route.rider %>
  <span class="content"><%= route.from %></span>
  <span class="content"><%= route.to %></span>
  <span class="content"><%= route.date %></span>